.heading{ 
    width:100%;
    font-size: 20px;
    margin: 0px;
    box-shadow: 10px 10px 10px gray;
}

.note{
    font-size: 15px;
    color: black;
}

.copyright_footer{
    bottom: 0;
    position:fixed;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: black;
    line-height: 3;

}

canvas{
    border-width: 6px;
    border-radius: 10px;
    border-style:dashed;
    border-color: rgb(255, 255, 255);
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
}

body{
    background:linear-gradient(rgb(255, 255, 255) 0%,rgb(0, 0, 0) 100%)
}